// Style description    : Sass Variables
// Style author         : Paul Fitzgerald
// Created date         : 08.03.2016

///////////////////////////////////////////////////////////////////////////////////////////////////
// Set the box sizing to border box. Options: true or false
///////////////////////////////////////////////////////////////////////////////////////////////////

$border-box                                 : true;

///////////////////////////////////////////////////////////////////////////////////////////////////
// EM, REM or PX option
///////////////////////////////////////////////////////////////////////////////////////////////////

$unit                                       : px;

///////////////////////////////////////////////////////////////////////////////////////////////////
// Paragraph settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$baseline-px                                : 16;

$family-1                                   : "Montserrat", Helvetica, Arial, sans-serif;

$size-base                                  : px($baseline-px);
$size-1                                     : px(14);
$size-2                                     : px(18);
$size-3                                     : px(36);

///////////////////////////////////////////////////////////////////////////////////////////////////
// Color settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$base-color                                 : #202020;
$base-color-2                               : #464646;
$base-bg                                    : #efeae2;
$color-light                                : #fff;

