// Style description    : Sass Variables
// Style author         : Paul Fitzgerald
// Created date         : 08.03.2016

///////////////////////////////////////////////////////////////////////////////////////////////////
// Set the box sizing to border box. Options: true or false
///////////////////////////////////////////////////////////////////////////////////////////////////

$border-box                                 : true;

///////////////////////////////////////////////////////////////////////////////////////////////////
// EM, REM or PX option
///////////////////////////////////////////////////////////////////////////////////////////////////

$unit                                       : px;

///////////////////////////////////////////////////////////////////////////////////////////////////
// Paragraph settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$baseline-px                                : 16;

$family-1                                   : 'Futura BT W01 Light', 'FuturaBT-Light', Verdana, Arial, sans-serif;
$family-2                                   : 'Futura BT W01 Book', 'FuturaStd-Medium', Verdana, Arial, sans-serif;
$family-1-old                               : 'FuturaBT-Light', Verdana, Arial, sans-serif;
$family-2-old                               : 'FuturaStd-Medium', Verdana, Arial, sans-serif;

$size-base                                  : px($baseline-px);
$size-1                                     : px(14);
$size-2                                     : px(18);
$size-3                                     : px(24);
$size-4                                     : px(30);
$size-5                                     : px(36);
$size-6                                     : px(40);
$size-7                                     : px(48);
$size-8                                     : px(63);
$size-9                                     : px(90);
$size-10                                    : px(106);

///////////////////////////////////////////////////////////////////////////////////////////////////
// Container settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$full-width                                 : 100%;
$max-width                                  : px(1200);

///////////////////////////////////////////////////////////////////////////////////////////////////
// Color settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$base-color                                 : #393939;
$brand-color                                : #FFF16E;
$tertiary-color                             : #707070;

$bg-1                                       : $base-color;
$bg-2                                       : $brand-color;
$bg-3                                       : #e9e7e4;
$bg-4                                       : #c2c2c2;
$bg-light                                   : #fff;
$bg-dark                                    : #333;

$color-1                                    : #000;
$color-2                                    : #777;
$color-light                                : #fff;
$color-dark                                 : #000;

$border-color-1                             : #ddd;
$border-color-2                             : $brand-color;

///////////////////////////////////////////////////////////////////////////////////////////////////
// Asset path
///////////////////////////////////////////////////////////////////////////////////////////////////

$image-asset-path                           : "/img";
