// Style description    : Main SASS file
// Style author         : Paul Fitzgerald

///////////////////////////////////////////////////////////////////////////////////////////////////
// Imports the style
///////////////////////////////////////////////////////////////////////////////////////////////////

@import 'imports';

///////////////////////////////////////////////////////////////////////////////////////////////////
// Style
///////////////////////////////////////////////////////////////////////////////////////////////////

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

#app-page {
    font-family: $family-1;
    background-color: $color-light;

    @include media(screen, max, 480px) {
        margin-top: px(50);
        margin-bottom: px(50);
    }

    .nav{
    max-width: 100%;

    background-color: $base-bg;

        .container {
            max-width: 1170px;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            @include cf();
        }

       

        h1{
            font-size: $size-3;
            font-weight: 400;
            color: $base-color;
            padding-top: px(20);
        }

        .logo img {
            width: 70px;
            height: 70px;
        }

        
    }

    .home-page {

        max-width: 1170px;
        margin: 0 auto;

        h3 {
            color: $base-color-2;
        }

        p{
            font-size: $size-2;
            font-weight: 400;
            color: $base-color-2;
        }

        a {
            color: $base-color-2;
        }

        .user-posts {
            padding: px(30) 0;
        }



        .post-image {
            display: inline-block;
            width: 25%;

            img {
                width: 100%;
                width: px(200);
                height: px(200);
                @include border-radius(100px);
            }
        }
        

        .post-details {
            float: right;
            width: 75%;

            .post-author,
            .post-date,
            .user-page,
            .post-date,
            .flickr-link {
                display: inline-block;
                padding-right: px(10);
            }

            .post-title { 
                margin: px(50) px(0);
                font-size: $size-3;
            }

            .post-title a {
                text-decoration: none;
            }

        }
    }
}
