<div class="container">

       
    <div class="row">
        <div class="col-sm-12">
            <h3><a ng-href="{{ctrl.posts[ctrl.currentId].link}}">{{ctrl.posts[ctrl.currentId].title}}</a></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <p>{{ctrl.posts[ctrl.currentId].author | regex}}</p>
        </div>

        <div class="col-sm-8">
            <!-- Date published-->
            <p>Published: {{ctrl.posts[ctrl.currentId].published | date:'mediumDate'}}</p>
        </div>
    </div>


    <img ng-src="{{ctrl.posts[ctrl.currentId].media.m}}">
    <a href="#/">Go back</a>


<!-- Place this tag where you want the +1 button to render. -->
    <div id="content">
      <div class="g-plusone" data-annotation="inline" data-width="300"></div>
    </div>

</div>
  



